
.navbar{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid grey;
    background: rgb(230, 225, 216);
    border-radius: 7px;
    box-shadow: 4px 5px 3px rgb(1, 22, 3);
    color: rgb(75, 85, 85);
}
body{
    font-family: 'Roboto','sans-serif';
    font-size: 1.2em;
    background: #f4f5f7;
}
.post-container{
    width: 70%;
    margin: auto;    
}
.post-item{
    width: 70%;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 8px;
    border: 2px solid #336e79;
    background-color: #c1dcfffa;
    box-shadow: 4px 8px 6px #583602;
}
.post-item img{
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: contain;
}
.date{
    font-size: 14px;
    border-bottom: 2px solid gainsboro;
}

.like-button{
    height: 40px;
}
.like-button img{
    height: 100%;
}
.user-container{
    width: 100%;
    margin: auto;
}
.user{
    padding: 20px 0px 20px 0px;
    width: 80%;
    margin: auto;
    border-bottom: 1px solid grey;
}
.post-form{
    /* display: flex; */
}

main >form{
    display: block;
    margin-left: 20px;
    margin-top: 20px;
}
.input-form{
    /* margin-top: 20px; */
    display: flex;
    position: relative;
    background:transparent;
    border-radius: 4px;
    margin-right: 20px;
    color: cornsilk;
    box-shadow: 1px 1px 1px white;
    margin-bottom: 20px;
}

.fieldWrapper{
    width: 100%;
    padding: 0px;
    /* width:600px; */
}
#id_text{
    padding: 0px;
    margin-left: -8px;
}
.input-form>div>button{
    position: absolute;
    right: 0px;
    background: rgb(115, 193, 245);
    border-radius: 4px;
    color: cornsilk;
    /* border: 2px solid rgb(209, 165, 21); */
    box-shadow: 3px 3px 3px rgb(15, 17, 16);
}
/* .input-form>div>input{
    margin-right:50px;
    border-radius: 4px;
    color: cornsilk;
    border: 2px solid rgb(209, 165, 21);
    box-shadow: 3px 3px 3px rgb(65, 131, 80);
} */

.post-item>h5{
    margin-left: 10px;
    font-weight: 500;
    color: rgb(61, 8, 8);
}

.post-item>h6{
    margin-left: 8px;
    margin-bottom: 4px;
    font-size: 12px;
    color: rgb(119, 108, 108);
    box-shadow: 0px 0.5px 0px black;
}

.text{
    margin: 0px 10px 8px;
    font-size: 20px;
}

.btnlike{
    margin-left: 10px;
    margin-bottom: 10px;
}

.like-count{
    margin-left: 7px;
}

form>#search-bar{
    margin: auto;
    width: 100%;
    margin-top: 15px;
    box-shadow: 8px 4px 6px #3f3a30;
    border-radius: 6px;
    background: #798596
}

/* form>#search-bar::placeholder{
    margin-left: 50px; 
} */

#id_image{
    border-radius: 8px;
    /* color: rgb(238, 191, 2); */
    /* border: 2px solid rgb(209, 165, 21); */
    box-shadow: 3px 3px 3px rgb(15, 17, 16); 
    width: 105px;
}