{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}facebook{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body style="margin: 50px">
    {% if user.is_authenticated %}
    <div class="navbar">
        <p><a href="{% url 'user_home' %}">Home</a></p>
        <p><a href="{% url 'follow' %}">Follow</a></p>
        <p><a href="{% url 'user_timeline' pk=user.id %}">Timeline</a></p>
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    </div> {% else %}
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>