{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}

<form method="post" enctype="multipart/form-data">{% csrf_token %}
  {{ form.non_field_errors }}
  <div class="fieldWrapper">
    {{ form.text.errors }}
    {{ form.text }}
  </div>
  <div class="input-form">
      <div>
          {{ form.image.errors }}
          {{ form.image }}
        </div>
        <div><button type="submit">Post</button></div>
  </div>
</form>


<div class='post-container'>
  {% for post in posts %}
  {% if request.user in  post.author.follower.all %}
  <div class='post-item'>
    <h5>{{post.author.username}} {{post.author.last_name}}</h5>

    <h6 class="date">{{post.date}}</h6>
    {% if post.model_pic %}
    <p class="text">{{ post.text|linebreaksbr }}</p>
    <a href="{% url 'post_detail' post_id=post.id %}">
      <img src="{{post.model_pic.url}}" alt="image">
    </a>
    {% endif %}
    <div style="display:flex;align-items:center;" class="btnlike">
      <button post_id={{post.pk}} class="like-button" onclick="likePost({{post.pk}})">
        <img src="https://img.icons8.com/dotty/80/000000/facebook-like.png">
      </button>
      <div class="like-count">
        
        {{post.likes}}
      </div>
    </div>
  </div>

  {% endif %}
  {% endfor %}
</div>
{% csrf_token %}
<script type="text/javascript">
  // using jQuery
  var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
</script>
<script>
  function likePost(post_id) {
    $.ajax({
      url: '/users/post/like-post/',
      type: "POST",
      data: {
        'post_id': post_id,
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken').val()
      },
      dataType: 'json',
      success: function (data) {
        if (data.result) {

          likeCount = $(".btnlike [post_id=" + post_id + "]")
          var likes = likeCount.parent().find('.like-count').text()
          likeCount.parent().find('.like-count').text(data.likes)
        }
      }
    });
  }
</script>
{% endif %}
{% endblock %}

