{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='post-container'>
    <div class='post-item'>
        <h5>{{post.author.first_name}} {{post.author.last_name}}</h5>
        <h6 class="date">{{post.date}}</h6>
        {% if post.model_pic %}
        <p class="text">{{ post.text|linebreaksbr }}</p>
        <a href="{% url 'post_detail' post_id=post.id %}">
            <img src="{{post.model_pic.url}}" alt="image">
        </a>
        {% endif %}
        <button class="like-button">
            <!-- <a href=""> -->
            <img src="https://img.icons8.com/dotty/80/000000/facebook-like.png">
            <!-- </a> -->
        </button>
    </div>
</div>
{% endblock %}