{% extends 'base.html' %}
{% load static %}
{% block content %}

<form method="post" enctype="multipart/form-data">{% csrf_token %}
  {{ form.non_field_errors }}
  <div class="fieldWrapper">
    {{ form.text.errors }}
    {{ form.text }}
  </div>
  <div class="input-form">
      <div>
          {{ form.image.errors }}
          {{ form.image }}
        </div>
        <div><button type="submit">Post</button></div>
  </div>
</form>


<div class='post-container'>
    {% for post in posts %}

    <div class='post-item'>
      <h5>{{post.author.username}} {{post.author.last_name}}</h5>
  
      <h6 class="date">{{post.date}}</h6>
      {% if post.model_pic %}
      <p class="text">{{ post.text|linebreaksbr }}</p>
      <a href="{% url 'post_detail' post_id=post.id %}">
        <img src="{{post.model_pic.url}}" alt="image">
      </a>
      {% endif %}
      
    </div>  
    {% endfor %}
  </div>

{% endblock %}



  