{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <form method="post" action="{% url 'search' %}">{% csrf_token %}
        <input id="search-bar" name="data" type="text" placeholder="search username here !">
    </form>
</div>

<div class="user-container">
    {% for user in users %}

    {% if request.user not in user.follower.all %}
    <div class="user">
        <div class="follow_user" style="display:flex;align-items:center;justify-content: space-between;">
            <h5>{{user.username}}</h5>
            <button class="follow" user_id="{{user.id}}" onclick="followUser({{user.id}})">
                Follow
            </button>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>


{% csrf_token %}
<script type="text/javascript">
  // using jQuery
  var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

</script>
<script>
    function followUser(user_id) {
        $.ajax({
            url: "/users/friend_follow/",
            type: "POST",
            data: {
                'user_id': user_id,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken').val(),
            },
            dataType: 'json',
                success: function (data) {

                if (data.result) {
                    console.log("succsess")
                    element = $(".follow_user [user_id=" + user_id + "]")
                    console.log(element.text())
                    element.text("following")
                  }
                }
        })
    }
</script>
{% endblock %}

